@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Dhurjati&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


@import "tailwindcss";

.sub{
    font-family: "Merriweather", serif;
}

.heading1{
    font-family: 'Anton', sans-serif;
}

.heading2{
    font-family: "Archivo Black", sans-serif;
}

.heading3{
    font-family:"Dhurjati", sans-serif;
}

